[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
sqlalchemy = "*"
pymysql = "*"
pillow = "*"
pynacl = "*"
async-timeout = "*"
youtube-dl = "*"
"discord.py" = "*"
regex = "*"
emoji = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
