[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
sqlalchemy = "*"
pymysql = "*"
pillow = "*"
pynacl = "*"
discord-py = "*"
async-timeout = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
